.container{
    background-color: darkblue;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 30px;
}
.input{
   
    margin: 40px;
    
}
.input input{
 padding: 10px;
 outline: 0;
 border-radius: 30px;

 width: 400px;
}
 .submit{
    background-color: blue;
    padding: 15px;
    width: 150px;
    margin: 10px;
    color: white;
    justify-content: center;
    position: relative;
    left: 60px;
    align-items: center;
    border-radius: 40px;
    font-size: 20px;


}
.input ::placeholder{
    text-align: center;
    
}


h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.grey{
    background-color: rgba(128, 128, 128, 0.582);
    color: white;

}